@model IEnumerable<jailOtomationSystem.Models.officerRoom>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="card">
    <div class="card-body">

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.area)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.isActive)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.area)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.isActive)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.officerRoomID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.officerRoomID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.officerRoomID })
                    </td>
                </tr>
            }

        </table>

    </div>
</div>