@model jailOtomationSystem.viewModels.OfficerDetails

@{
    ViewBag.Title = "GetOfficerDetails";
}

<h2>GetOfficerDetails</h2>

<div>
    <h4>OfficerDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.officer.citizinID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.officer.citizinID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.officer.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.officer.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.officer.surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.officer.surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.officer.dateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.officer.dateOfBirth)
        </dd>

        <dt>
           Image
        </dt>

        <dd>
            <img src="@Url.Content("~/Uploads/"+Model.officer.imageURL)" alt="Image"  style="height:200px;width:200px;"/>
        </dd>

    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.room.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.room.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.room.area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.room.area)
        </dd>


    </dl>
   
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.job.jobTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.job.jobTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.job.dailyStartingTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.job.dailyStartingTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.job.dailyEndingTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.job.dailyEndingTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.job.facility.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.job.facility.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.job.JobDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.job.JobDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.job.JobDescription)
        </dt>



    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
