@model IEnumerable<jailOtomationSystem.Models.officer>

@{
    ViewBag.Title = "GetOfficersData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetOfficersData</h2>

<p>
    @Html.ActionLink("Add New", "AddOfficer")
</p>
<div class="card">
    <div class="card-body">


        <table class="table ">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.rank)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.citizinID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.dateOfBirth)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.surname)
                </th>

                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.rank)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.citizinID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.dateOfBirth)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.surname)
                    </td>

                    <td>
                        @Html.ActionLink("Assign A job", "officerAssignment", new { citizenID = item.citizinID })|
                        @Html.ActionLink("Update", "updateOfficer", new { id = item.officerID }) |
                        @Html.ActionLink("Details", "GetOfficerDetails", new { id = item.officerID }) |
                        @Html.ActionLink("Delete", "DeleteOfficer", new { id = item.officerID })
                    </td>
                </tr>
            }

        </table>

    </div>

</div>